<div class="site-wrapper"
     style="background-image: url({{ ( trick is defined ) ? trick.getImageCouverture : asset('build/images/bkg.jpg') }})">
    <div class="site-wrapper-inner">
        <div class="cover-container">
            <div class="masthead clearfix">
                <div class="inner">
                    <!-- Fixed navbar -->
                    <nav class="navbar navbar-default navbar-fixed-top">
                        <div class="container">
                            <div class="navbar-header">
                                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                                        data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                                    <span class="sr-only">Toggle navigation</span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                </button>
                                <a class="navbar-brand" href="{{ path('home') }}">Snowtricks</a>
                            </div>
                            <div id="navbar" class="navbar-collapse collapse">
                                <ul class="nav navbar-nav">
                                    <li class="active"><a href="{{ path('home') }}">Accueil</a></li>
                                    {% if app.user != null %}
                                        <li><a href="{{ path('trickViewAdd') }}">Ajouter un trick</a></li>
                                    {% endif %}
                                </ul>
                                {% if app.user == null %}
                                <ul class="nav navbar-nav navbar-right">
                                    <li class="active"><a href="/login">Se connecter</a></li>
                                    <li><a href="#">S'enregistrer</a></li>
                                </ul>
                                {% endif %}
                            </div><!--/.nav-collapse -->
                        </div>
                    </nav>
                </div>
            </div>

            <div class="inner cover">
                {% if trick is defined %}
                    <h1 class="cover-heading"><a title="Editer le trick" class="trick-interact" href="{{ path('trickViewEdit', {'slug': trick.getSlug}) }}">{{ trick.getName }}</a></h1>
                {% else %}
                    <h1 class="cover-heading">Bienvenue sur Snowtricks</h1>
                    <p class="lead">Premier annuaire communautaire des figures de Snowboard</p>
                    {% if app.request.get('_route') == 'home' %}
                        <p class="lead">
                            <a href="#" class="btn btn-lg btn-default" id="show-tricks">Voir les figures</a>
                        </p>
                    {% endif %}
                {% endif %}
            </div>
        </div>
    </div>
</div>
