{% extends "base.html.twig" %}

{% block title %} {{ parent() }} Page d'accueil{% endblock %}

{% block body %}

    {% include "header.html.twig" %}

    <div class="tricks-wrapper main-container">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h2>Toutes les figures</h2>
                </div>
            </div>
            <div class="row tricks-container">
                {% for trick in tricks %}
                    <div class="trick-container col-sm-6 col-md-4 {{ (loop.index >= 10) ? 'hidden' : '' }}">
                        <div class="thumbnail">
                            <img src="{{ trick.getMediaCouverture }}" alt="Illustration du trick {{ trick.getName }}">
                            <div class="caption">
                                <h3><a class="trick-title" href="{{ path('trickViewShow', {'id': trick.getId}) }}">{{ trick.getName }}</a></h3>
                                <p>{{ trick.getDescription|length > 50 ? trick.getDescription|slice(0, 50) ~ '...' : trick.getDescription }}</p>
                                <p>
                                    <a href="{{ path('trickViewEdit', {'id': trick.getId}) }}" class="btn btn-primary" role="button">Editer</a>
                                    <a href="#" class="btn btn-default" role="button">Supprimer</a>
                                </p>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <div class="row">
                <div class="col-md-12 text-center">
                    <button id="load-more" role="button" class="btn btn-primary">Voir plus</button>
                </div>
            </div>
        </div>
    </div>

    <button id="back-top" title="Retour en haut"><span class="glyphicon glyphicon-chevron-up" aria-hidden="true"></span>
    </button>

    {% include "footer.html.twig" %}

{% endblock %}
