{% extends "base.html.twig" %}

{% block title %} {{ parent() }} Page d'accueil{% endblock %}

{% block body %}

    <div class="site-wrapper">
        <div class="site-wrapper-inner">
            <div class="cover-container">
                <div class="masthead clearfix">
                    <div class="inner">
                        <h3 class="masthead-brand">Snowtricks</h3>
                        {% include "navbar.html.twig" %}
                    </div>
                </div>

                <div class="inner cover">
                    <h1 class="cover-heading">Bienvenue sur Snowtricks</h1>
                    <p class="lead">Premier annuaire communautaire des figures de Snowboard</p>
                    <p class="lead">
                        <a href="#" class="btn btn-lg btn-default">Voir les figures</a>
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="tricks-wrapper">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h2>Toutes les figures</h2>
                </div>
            </div>
            <div class="row">
                {% for trick in tricks %}
                    <div class="col-sm-6 col-md-4">
                        <div class="thumbnail">
                            {% for media in trick.getMedias() if media.type == 'image' %}
                                {% if loop.first %}
                                    <img src="{{ media.getUrl }}" alt="Illustration du trick {{ trick.getName }}">
                                {% endif %}
                            {% endfor %}
                            <div class="caption">
                                <h3>{{ trick.getName }}</h3>
                                <p>{{ trick.getDescription|length > 50 ? trick.getDescription|slice(0, 50) ~ '...' : trick.getDescription }}</p>
                                <p><a href="#" class="btn btn-primary" role="button">Editer</a> <a href="#" class="btn btn-default" role="button">Supprimer</a></p>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>

    {% include "footer.html.twig" %}

{% endblock %}
