{% extends "base.html.twig" %}

{% block title %} {{ parent() }} Ajouter un trick{% endblock %}

{% block body %}

    <div class="trick-add-wrapper main-container">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h2>Ajouter une figure</h2>
                    {% for message in app.session.flashbag.get('alert-success') %}
                        <div class="alert alert-success" role="alert">
                            {{ message }}
                        </div>
                    {% endfor %}
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    {{ form_start(form) }}

                    {{ form_errors(form) }}

                    {{ form_row(form.name) }}

                    {{ form_row(form.description) }}

                    {{ form_row(form.category) }}

                    <div class="form-group">
                        {{ form_label(form.medias, "Images") }}
                        {{ form_errors(form.medias) }}
                            <ul id="image-fields-list"
                                data-prototype="{{ form_widget(form.medias.vars.prototype)|e }}"
                                data-widget-tags="{{ '<li></li>'|e }}">
                            </ul>
                            <a href="#"
                               class="add-another-collection-widget"
                               data-list="#image-fields-list">Ajouter une image
                            </a><br>
                    </div>

                    {{ form_row(form.save) }}

                    {{ form_rest(form) }}

                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>

{% endblock %}
