{% extends "base.html.twig" %}

{% block title %} {{ parent() }} Editer un trick{% endblock %}

{% block body %}

    <div class="trick-edit-wrapper main-container">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h2>Editer une figure</h2>
                    {% for message in app.session.flashbag.get('alert-success') %}
                        <div class="alert alert-success" role="alert">
                            {{ message }}
                        </div>
                    {% endfor %}
                    {% for message in app.session.flashbag.get('alert-danger') %}
                        <div class="alert alert-danger" role="alert">
                            {{ message }}
                        </div>
                    {% endfor %}
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    {{ form_start(form) }}

                    {{ form_errors(form) }}

                    {{ form_row(form.name) }}

                    {{ form_row(form.description) }}

                    {{ form_row(form.category) }}

                    <div class="form-group">
                        {{ form_label(form.images, "Images") }}
                        {{ form_errors(form.images) }}
                        <ul id="image-fields-list"
                            data-prototype="{{ form_widget(form.images.vars.prototype)|e }}"
                            data-widget-tags="{{ '<li></li>'|e }}">
                            {% for image in trick.images %}
                                <li>
                                    <img class="image-edit img-responsive" src="/uploads/images/tricks/{{ image.url }}" alt="Illustration du trick {{ trick.name }}">
                                    <a href="{{ path('mediaDelete', {'slug': trick.getSlug, 'type': 'image', 'media_id': image.id}) }}" class="delete-media">Supprimer</a>
                                </li>
                            {% endfor %}
                        </ul>
                        <a href="#"
                           class="add-another-collection-widget"
                           data-list="#image-fields-list">Ajouter une image (jpg, jpeg, png)
                        </a><br>
                    </div>

                    <div class="form-group">
                        {{ form_label(form.videos, "Videos") }}
                        {{ form_errors(form.videos) }}
                        <ul id="videos-fields-list"
                            data-prototype="{{ form_widget(form.videos.vars.prototype)|e }}"
                            data-widget-tags="{{ '<li></li>'|e }}">
                            {% for video in trick.videos %}
                                <li>
                                    <p>{{ video.path }}</p>
                                    <a href="{{ path('mediaDelete', {'slug': trick.getSlug, 'type': 'video', 'media_id': video.id}) }}" class="delete-media">Supprimer</a>
                                </li>
                            {% endfor %}
                        </ul>
                        <a href="#"
                           class="add-another-collection-widget-video"
                           data-list="#videos-fields-list">Ajouter une vidéo (lien embed)
                        </a><br>
                    </div>

                    {{ form_row(form.save) }}

                    {{ form_rest(form) }}

                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>

{% endblock %}
