{% extends "base.html.twig" %}

{% block title %} {{ parent() }} Voir un trick{% endblock %}

{% block body %}

    <div class="trick-show-wrapper main-container">
        <div class="container">
            <div class="row">
                {% for media in trick.getMedias %}
                    <div class="col-md-4">
                        <div class="thumbnail">
                            {% if media.getType == 'image' %}
                                <img src="{{ media.getUrl }}" alt="Illustration du trick {{ trick.getName }}">
                            {% else %}
                                <iframe frameborder="0" style="height:200px;width:100%;"
                                        src="{{ media.getUrl }}"></iframe>
                            {% endif %}
                        </div>
                    </div>
                {% endfor %}
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="jumbotron">
                        <h2><a title="Editer le trick" class="trick-interact trick-jumbotron" href="{{ path('trickViewEdit', {'slug': trick.getSlug}) }}"><strong>{{ trick.getName }}</strong></a></h2>
                        <p>{{ trick.getDescription }}</p>
                        <p><strong>{{ trick.category.getName }}</strong> | Posté le : {{ trick.getCreated|date('d/m/Y H:i:s') }}
                            {% if trick.getCreated != trick.getUpdated %}
                            | Dernière modification le : {{ trick.getUpdated|date('d/m/Y H:i:s') }}</p>
                        {% endif %}
                    </div>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-md-6 col-md-offset-3 text-center">
                    {{ form(form) }}
                    {% for message in app.session.flashbag.get('alert-success') %}
                        <div class="alert alert-success" role="alert">
                            {{ message }}
                        </div>
                    {% endfor %}
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-md-6 col-md-offset-3 text-center">
                    {% for comment in trick.getComments  %}
                        <div class="comment-container flex-container {{ (loop.index >= 10) ? 'hidden' : '' }}">
                            <img width="50" height="50" src="{{ comment.user.getPhoto }}" alt="Photo de profil de {{ comment.user.getUsername }}">
                            <div class="comment-content">
                                <p><strong>{{ comment.user.getFirstname }} {{ comment.user.getLastname }}</strong> | Publié le {{ comment.getCreated|date('d/m/Y H:i:s') }} {{ (comment.getCreated != comment.getUpdated) ? '(édité le : '~comment.getCreated|date('d/m/Y H:i:s')~')' : '' }}</p>
                                <p>{{ comment.getContent }}</p>
                            </div>
                        </div>
                    {% endfor %}
                    {% if trick.getComments|length >= 10 %}
                        <button id="load-more-comment" role="button" class="btn btn-primary">Voir plus</button>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

{% endblock %}
